#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
go.mod
go.sum

# .tfvars files
*.tfvars

ci/terraform.tf

**/example/.terraform
**/example/.terraform*
**/example/*.tfstate.*

aviator_pipeline.yml

**/.DS_Store
